---
# yamllint disable rule:line-length
name: indeni
on:
  workflow_dispatch:

env:
  tf_target_dir: example/examplea
  branch: master
jobs:
  indeni:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ env.branch }}
          token: ${{ github.token }}
      - uses: hashicorp/setup-terraform@v1.2.1
        with:
          terraform_version: v0.14.8
      - run: terraform init
        working-directory: ${{ env.tf_target_dir }}
      - run: terraform plan -out=plan.out
        working-directory: ${{ env.tf_target_dir }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - run: stat plan.out
        working-directory: ${{ env.tf_target_dir }}
      - name: Indeni IAC
        uses: indeni/cloudrail-run-ga@v1.1
        with:
          tf-plan-file: ${{ env.tf_target_dir }}/plan.out
          cloudrail-api-key: ${{ secrets.CLOUDRAIL_API_KEY }}
          cloud-account-id: 680235478471
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        if: always()
        with:
          sarif_file: ${{ env.tf_target_dir }}/cloudrail_results.sarif
